/*CSS GENERICO VALIDO PER TUTTE LE PAGINE*/

/*Font*/
h1, h2, h3, h4, h5, h6, p, a {
	line-height: 1.5;
}

/*aside*/
aside  {
	position: absolute;
	margin left: 120px;
}

/*footer*/		
footer {
	padding-top: 30px;
	background-color: #2F3137;
	color: white;
	text-align: center;
	height: 90px;
}		

/*bottoni*/
.btn {
	margin: 5px;
}

.card {
	margin-top: 10px;
	margin-bottom: 30px;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
	max-height:400px;
	max-width: auto;
	object-fit: scale-down;
}


/*INDEX*/

/*Carousel*/
.carousel-item img{
	max-height: 650px;
	object-fit: scale-down;
}

/*.carousel perchè è class (e vale per tutti gli elementi con questa class)*/
.carousel-caption {
	background-color: #2F3137;
	border-radius: 10px;
	opacity: 0.9;
	padding-bottom: 30px;
}

.carousel_descrizione {
	font-style: italic;
}	

 /*Il Progetto*/

 /*# perchè è id (quindi id univoco che vale solo per quell'elemento)*/
 #progetto {
 	height: auto;
 	background-color: #2F3137;
 	color: white;
 	text-align: left;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	text-align: justify;
 }

#progetto img {
	float: left;
 	object-fit: scale-down;
 	padding-top: 20px;
 	padding-right: 20px;
 	padding-bottom: 10px;
 }

/*Cards*/
#cards_home {
	margin-top: 35px;
	margin-bottom: 10px;
}


/*ELENCO*/

/*Banner collezione*/
#catalogo {
	text-align: center;
}


/*filtri*/
#filtri {
	
}

/*elenco*/
#elenco {
	background-color: #2F3137;
}

/*pagination*/
#pagination {
	height: 120px;
	padding-top: 30px;
}

