/*CSS GENERICO VALIDO PER TUTTE LE PAGINE*/

/*Font*/
h1, h2, h3, h4, h5, h6, p, a {
	line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia;
}

 p, a {
	font-family: Arial;
}

/*HEADER*/
header {
	background-color: #343a40;
}

/*NAV*/
.navbar-brand p {
	font-family: Georgia;
	font-size: 18px;
}

#data {
	font-size: 14px;
}


/*LINK*/
a:hover {
	color: darkgreen;
}

a {
	color: green;
}

/*footer link*/ /*ordine:  link - visited - hover - active altrimenti non funzia!!*/
footer a, footer a:link, footer a:visited, footer a:active {
	color: white;
}

footer a:hover {
	color: #28a745;
}

/*FOOTER*/		
footer {
	padding-top: 25px;
	background-color: #343a40;
	color: white;
	text-align: center;
}		

/*bottoni*/
.btn {
	margin: 5px;
}

.card {
	margin-top: 10px;
	margin-bottom: 30px;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
	max-height:400px;
	max-width: auto;
	object-fit: scale-down;
}

.card-title {
	font-weight: bold;
}

.card-text {
	font-size: 14px;
}

/*icone sopra le immagini delle cards*/
span.icone {
	font-size: 1.6rem;
	color: white;
	position: absolute;
  	top: 15px;
  	left: 25px;
  	text-align: center;
  	background-color: #343a40;
  	width: 3rem;
  	height: 2.6rem;
  	border-radius: 7px;
  	opacity: 0.8;
}

.breadcrumb{
	background-color: #e9ecef;
}


/*INDEX*/

/*Carousel*/
.carousel-item img{
	max-height: 600px;
	object-fit: scale-down;
}

/*.carousel perchè è class (e vale per tutti gli elementi con questa class); altrimenti # se id di una section*/
.carousel-caption {
	background-color: rgba(49, 49, 55, 0.9); /*ultimo valore è x trasparenza*/
	border-radius: 10px;
	padding-bottom: 30px;
}

.carousel_descrizione {
	font-style: italic;
}

.carousel-inner {
	background-color: #e9ecef;
}

 /*# perchè è id (quindi id univoco che vale solo per quell'elemento)*/
 #progetto {
 	height: auto;
 	background-color: #343a40;
 	color: white;
 	text-align: left;
 	padding-top: 30px;
 	padding-bottom: 40px;
 	text-align: justify;
 }

#progetto img {
	float: left;
 	object-fit: scale-down;
 	padding-top: 10px;
 	padding-right: 20px;
 	padding-bottom: 10px;
 }

/*Cards*/
#cards_home {
	margin-top: 35px;
	margin-bottom: 10px;
}


/*ELENCO E BROWSING*/

/*Banner collezione*/
#catalogo1, #catalogo2 {
	text-align: center;
	color: whitesmoke;
}

.jumbotron {
  	background-size: cover;
 }

.jumbotron div {
	background-color: rgba(49, 49, 55, 0.8);
	border-radius: 10px;
	padding-bottom: 10px;
	height: 160px;
	width: 500px;
}

.jumbotron hr{
  border-top: 1px solid ghostwhite;
  opacity: 0.4;
 }

 input {
  	display: inline-block
  	width: 100%;
 }

#pagination {
	height: 120px;
	padding-top: 30px;
}

#pagination a, #pagination a:link, #pagination a:visited, #pagination a:active {
	color: #28a745;
}

#pagination a:hover {
	background-color: #28a745;
	color:  white;
}


/*ITEM*/

iframe {
	margin-top: 25px;
	padding-bottom: 40px;
}

.btn-outline-success a:hover{
	color: white;
}

#accordionExample {
	margin-top: 30px;
	margin-bottom: 10px;
}

.descr_item {
	margin-top: 30px;
	margin-bottom: 40px;
}

table, th, td {
	border:1px solid black;
  	border-collapse: collapse;
}

aside.item_correlati {
	margin-left: 25px;
}


/*PERSONA*/

#carouselExampleSlidesOnly {
	margin-top: 25px;
}

.card-header {
	margin-bottom: 25px;
}
